<h1>Current Stores</h1>

  <table class="highlight">
    <thead>
      <tr>
          <th data-field="">Store Name</th>
          <th data-field="">City</th>
          <th data-field="">State</th>
          <th data-field=""></th>
      </tr>
    </thead>

    <tbody>
    <% if @stores.any? %>
      <% @stores.each do |store| %>
      <tr><a href="/stores/<%=store.id()%>">
        <td><%=store.name()%></td>
        <td><%=store.city()%></td>
        <td><%=store.state()%></td>
      </a></tr>
        <% end %>
      <% else %>
        <p>No stores have been added</p>
      <% end %>
    </tbody>
  </table>


<br>
<br>
<hr>
<a class="waves-effect waves-light btn red" href="/seed">Seed Database</a>
<a class="waves-effect waves-light btn red" href="/clear">Clear Database</a>
