<h1>Store</h1>

<table>
  <thead>
    <tr>
      <th data-field="">Store Name</th>
      <th data-field="">City</th>
      <th data-field="">State</th>
      <th data-field=""></th>
    </tr>
  </thead>

  <tbody>
  <% if @stores.any? %>
    <% @stores.each do |store| %>
    <tr>
      <td><%=store.name()%></td>
      <td><%=store.city()%></td>
      <td><%=store.state()%></td>
      <td><a class="waves-effect waves-teal btn-flat" href="/stores/<%=store.id()%>">View</a></td>
    </tr>
      <% end %>
    <% else %>
      <p>No stores have been added</p>
    <% end %>
  </tbody>
</table>
